body {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
@keyframes bg-animation 
{
        0% {
            background-position: right
           }
        100% {
            background-position: left
        }
    }
.header {
    background-image: var(--gradient);
    /* background: #1f2937; */
    /* background-image: linear-gradient(90deg, #8b0000, #000000); */
    background-image: linear-gradient(45deg,#2a1212,rgb(140, 23, 23),#3a0d0d);
    background-size: 300%;
animation: bg-animation 10s infinite alternate;
    display: flex;
    flex-direction: column;
    gap: 70px;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 650px;
    
    /* justify-content: space-around */
    
}
.upper-body {
    display: flex;
    justify-content: space-around;
    margin-left: 45px;
    margin-right: 45px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgb(140, 23, 23); */
    /* color: white; */
    color: rgb(140, 23, 23);
    background-image: linear-gradient(45deg,#f6f0f0,rgb(175, 95, 95),#f6f0f0);
    background-size: 300%;
    animation: bg-animation 5s infinite alternate;

    font-weight: bold;
    font-size: large;
    width: 150px;
    border-radius: 10px;
    height: 48px;
    background-color: rgb(140, 23, 23)
}
.button:hover{
    color: rgb(140, 23, 23);
   background-size: 300%;
   background-image: linear-gradient(45deg,#5e5555,rgb(133, 102, 102),#3a0d0d);
    animation: bg-animation 10s infinite alternate;

}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: rgb(140, 23, 23);
    color: black;
   background-size: 300%;

   /* background-image: linear-gradient(45deg,#5e5555,rgb(133, 102, 102),#3a0d0d); */
   /* background-image: linear-gradient(45deg,#2a1212,rgb(140, 23, 23),#3a0d0d); */
      background-color: transparent;
    animation: bg-animation 10s infinite alternate;

}

.one-side {
    /* background: blue; */
    max-width: 400px;
    display: flex;
    margin-left: 200px;
    flex-shrink: 0;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* gap: 13px; */
    justify-content: flex-start;
    align-items: space-between;
    /* padding-bottom: 2px; */
    /* padding-top: 2px; */
    /* width: px; */
    /* flex-wrap: wrap; */


    
}
.logo {
    font-family: 'Oswald', sans-serif;
    margin-top: 13px;
    font-weight: 900;
}
.akatsuki {
    width: 500px;
    height: 290px;
    margin-right: 180px;
    border-radius: 25px;
}
.main-title {
    color: white;
    font-size: 40px;
    font-weight: 900;
    font-family: extra Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.description {
    font-size: small;;
}
li {
    list-style: none;
}
.links ul {
    display: flex;
    font-size: large;;
    /* background-color: blue; */
    justify-content: flex-end;
    gap: 20px;
}
.header-content{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    /* gap: 265px; */
    /* flex: 1; */
    /* gap: 190px; */
    /* margin-left: 80px; */
    /* margin-right: 100px; */
}
.blah {
    background-color: red;
    color: blue;
}